# **USING R FUNCTIONS IN MTCARS AND STARWARS DATASET**

In [ ]:
#installing package dplyr
install.packages("dplyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library("dplyr")

In [ ]:
data(mtcars)

In [ ]:
?mtcars

In [ ]:
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

##Select function

In [ ]:
select(mtcars,mpg,gear,hp,carb)

                    mpg  gear hp  carb
Mazda RX4           21.0 4    110 4
Mazda RX4 Wag       21.0 4    110 4
Datsun 710          22.8 4     93 1
Hornet 4 Drive      21.4 3    110 1
Hornet Sportabout   18.7 3    175 2
Valiant             18.1 3    105 1
Duster 360          14.3 3    245 4
Merc 240D           24.4 4     62 2
Merc 230            22.8 4     95 2
Merc 280            19.2 4    123 4
Merc 280C           17.8 4    123 4
Merc 450SE          16.4 3    180 3
Merc 450SL          17.3 3    180 3
Merc 450SLC         15.2 3    180 3
Cadillac Fleetwood  10.4 3    205 4
Lincoln Continental 10.4 3    215 4
Chrysler Imperial   14.7 3    230 4
Fiat 128            32.4 4     66 1
Honda Civic         30.4 4     52 2
Toyota Corolla      33.9 4     65 1
Toyota Corona       21.5 3     97 1
Dodge Challenger    15.5 3    150 2
AMC Javelin         15.2 3    150 2
Camaro Z28          13.3 3    245 4
Pontiac Firebird    19.2 3    175 2
Fiat X1-9           27.3 4     66 1
Porsche 914-2       26.0 5     91 2
Lotus Europa        30.4 5    113 2
Ford Pantera L      15.8 5    264 4
Ferrari Dino        19.7 5    175 6
Maserati Bora       15.0 5    335 8
Volvo 142E          21.4 4    109 2

In [ ]:
select(mtcars, -drat)

                    mpg  cyl disp  hp  wt    qsec  vs am gear carb
Mazda RX4           21.0 6   160.0 110 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 2.875 17.02 0  1  4    4
Datsun 710          22.8 4   108.0  93 2.320 18.61 1  1  4    1
Hornet 4 Drive      21.4 6   258.0 110 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 5.345 17.42 0  0  3    4
Fiat 128            32.4 4    78.7  66 2.200 19.47 1  1  4    1
Honda Civic         30.4 4    75.7  52 1.615 18.52 1  1  4    2
Toyota Corolla      33.9 4    71.1  65 1.835 19.90 1  1  4    1
Toyota Corona       21.5 4   120.1  97 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.845 17.05 0  0  3    2
Fiat X1-9           27.3 4    79.0  66 1.935 18.90 1  1  4    1
Porsche 914-2       26.0 4   120.3  91 2.140 16.70 0  1  5    2
Lotus Europa        30.4 4    95.1 113 1.513 16.90 1  1  5    2
Ford Pantera L      15.8 8   351.0 264 3.170 14.50 0  1  5    4
Ferrari Dino        19.7 6   145.0 175 2.770 15.50 0  1  5    6
Maserati Bora       15.0 8   301.0 335 3.570 14.60 0  1  5    8
Volvo 142E          21.4 4   121.0 109 2.780 18.60 1  1  4    2

In [ ]:
select(mtcars, mpg:disp)

                    mpg  cyl disp
Mazda RX4           21.0 6   160.0
Mazda RX4 Wag       21.0 6   160.0
Datsun 710          22.8 4   108.0
Hornet 4 Drive      21.4 6   258.0
Hornet Sportabout   18.7 8   360.0
Valiant             18.1 6   225.0
Duster 360          14.3 8   360.0
Merc 240D           24.4 4   146.7
Merc 230            22.8 4   140.8
Merc 280            19.2 6   167.6
Merc 280C           17.8 6   167.6
Merc 450SE          16.4 8   275.8
Merc 450SL          17.3 8   275.8
Merc 450SLC         15.2 8   275.8
Cadillac Fleetwood  10.4 8   472.0
Lincoln Continental 10.4 8   460.0
Chrysler Imperial   14.7 8   440.0
Fiat 128            32.4 4    78.7
Honda Civic         30.4 4    75.7
Toyota Corolla      33.9 4    71.1
Toyota Corona       21.5 4   120.1
Dodge Challenger    15.5 8   318.0
AMC Javelin         15.2 8   304.0
Camaro Z28          13.3 8   350.0
Pontiac Firebird    19.2 8   400.0
Fiat X1-9           27.3 4    79.0
Porsche 914-2       26.0 4   120.3
Lotus Europa        30.4 4    95.1
Ford Pantera L      15.8 8   351.0
Ferrari Dino        19.7 6   145.0
Maserati Bora       15.0 8   301.0
Volvo 142E          21.4 4   121.0

In [ ]:
select(mtcars, starts_with("c"))

                    cyl carb
Mazda RX4           6   4
Mazda RX4 Wag       6   4
Datsun 710          4   1
Hornet 4 Drive      6   1
Hornet Sportabout   8   2
Valiant             6   1
Duster 360          8   4
Merc 240D           4   2
Merc 230            4   2
Merc 280            6   4
Merc 280C           6   4
Merc 450SE          8   3
Merc 450SL          8   3
Merc 450SLC         8   3
Cadillac Fleetwood  8   4
Lincoln Continental 8   4
Chrysler Imperial   8   4
Fiat 128            4   1
Honda Civic         4   2
Toyota Corolla      4   1
Toyota Corona       4   1
Dodge Challenger    8   2
AMC Javelin         8   2
Camaro Z28          8   4
Pontiac Firebird    8   2
Fiat X1-9           4   1
Porsche 914-2       4   2
Lotus Europa        4   2
Ford Pantera L      8   4
Ferrari Dino        6   6
Maserati Bora       8   8
Volvo 142E          4   2

In [ ]:
select(mtcars, ends_with("t"))

                    drat wt
Mazda RX4           3.90 2.620
Mazda RX4 Wag       3.90 2.875
Datsun 710          3.85 2.320
Hornet 4 Drive      3.08 3.215
Hornet Sportabout   3.15 3.440
Valiant             2.76 3.460
Duster 360          3.21 3.570
Merc 240D           3.69 3.190
Merc 230            3.92 3.150
Merc 280            3.92 3.440
Merc 280C           3.92 3.440
Merc 450SE          3.07 4.070
Merc 450SL          3.07 3.730
Merc 450SLC         3.07 3.780
Cadillac Fleetwood  2.93 5.250
Lincoln Continental 3.00 5.424
Chrysler Imperial   3.23 5.345
Fiat 128            4.08 2.200
Honda Civic         4.93 1.615
Toyota Corolla      4.22 1.835
Toyota Corona       3.70 2.465
Dodge Challenger    2.76 3.520
AMC Javelin         3.15 3.435
Camaro Z28          3.73 3.840
Pontiac Firebird    3.08 3.845
Fiat X1-9           4.08 1.935
Porsche 914-2       4.43 2.140
Lotus Europa        3.77 1.513
Ford Pantera L      4.22 3.170
Ferrari Dino        3.62 2.770
Maserati Bora       3.54 3.570
Volvo 142E          4.11 2.780

##Filter Function

In [ ]:
filter(mtcars, mpg>=16)

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Merc 240D         24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230          22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280          19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C         17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE        16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL        17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Fiat 128          32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic       30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla    33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
Toyota Corona     21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Pontiac Firebird  19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Fiat X1-9         27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Porsche 914-2     26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Lotus Europa      30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Ferrari Dino      19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Volvo 142E        21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

In [ ]:
filter(mtcars, mpg>=30, hp>=20)

               mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Fiat 128       32.4 4   78.7  66 4.08 2.200 19.47 1  1  4    1
Honda Civic    30.4 4   75.7  52 4.93 1.615 18.52 1  1  4    2
Toyota Corolla 33.9 4   71.1  65 4.22 1.835 19.90 1  1  4    1
Lotus Europa   30.4 4   95.1 113 3.77 1.513 16.90 1  1  5    2

In [ ]:
table(mtcars$am)

 0  1
19 13

In [ ]:
filter(mtcars, am %in% c("0"))

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2

##arrange function

In [ ]:
#piping 
mtcars %>% select(mpg,hp,am,gear) %>% filter(mpg>=20) %>% filter(gear %in% c("4","5"))

               mpg  hp  am gear
Mazda RX4      21.0 110 1  4
Mazda RX4 Wag  21.0 110 1  4
Datsun 710     22.8  93 1  4
Merc 240D      24.4  62 0  4
Merc 230       22.8  95 0  4
Fiat 128       32.4  66 1  4
Honda Civic    30.4  52 1  4
Toyota Corolla 33.9  65 1  4
Fiat X1-9      27.3  66 1  4
Porsche 914-2  26.0  91 1  5
Lotus Europa   30.4 113 1  5
Volvo 142E     21.4 109 1  4

In [ ]:
mtcars %>% arrange(mpg)

                    mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Cadillac Fleetwood  10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
Camaro Z28          13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
Duster 360          14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
Maserati Bora       15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
Merc 450SLC         15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
AMC Javelin         15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
Dodge Challenger    15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
Ford Pantera L      15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
Merc 450SE          16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
Merc 450SL          17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
Merc 280C           17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
Valiant             18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Hornet Sportabout   18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Merc 280            19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
Ferrari Dino        19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
Mazda RX4           21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag       21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Hornet 4 Drive      21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Volvo 142E          21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2
Toyota Corona       21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
Datsun 710          22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Merc 230            22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 240D           24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Porsche 914-2       26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
Fiat X1-9           27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
Lotus Europa        30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
Fiat 128            32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
Toyota Corolla      33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1

In [ ]:
mtcars %>% select(mpg, hp, gear) %>%
                arrange(gear, hp)

                    mpg  hp  gear
Toyota Corona       21.5  97 3
Valiant             18.1 105 3
Hornet 4 Drive      21.4 110 3
Dodge Challenger    15.5 150 3
AMC Javelin         15.2 150 3
Hornet Sportabout   18.7 175 3
Pontiac Firebird    19.2 175 3
Merc 450SE          16.4 180 3
Merc 450SL          17.3 180 3
Merc 450SLC         15.2 180 3
Cadillac Fleetwood  10.4 205 3
Lincoln Continental 10.4 215 3
Chrysler Imperial   14.7 230 3
Duster 360          14.3 245 3
Camaro Z28          13.3 245 3
Honda Civic         30.4  52 4
Merc 240D           24.4  62 4
Toyota Corolla      33.9  65 4
Fiat 128            32.4  66 4
Fiat X1-9           27.3  66 4
Datsun 710          22.8  93 4
Merc 230            22.8  95 4
Volvo 142E          21.4 109 4
Mazda RX4           21.0 110 4
Mazda RX4 Wag       21.0 110 4
Merc 280            19.2 123 4
Merc 280C           17.8 123 4
Porsche 914-2       26.0  91 5
Lotus Europa        30.4 113 5
Ferrari Dino        19.7 175 5
Ford Pantera L      15.8 264 5
Maserati Bora       15.0 335 5

In [ ]:
mtcars %>% select(mpg, hp, gear) %>%
                arrange(gear, desc(hp))

                    mpg  hp  gear
Duster 360          14.3 245 3
Camaro Z28          13.3 245 3
Chrysler Imperial   14.7 230 3
Lincoln Continental 10.4 215 3
Cadillac Fleetwood  10.4 205 3
Merc 450SE          16.4 180 3
Merc 450SL          17.3 180 3
Merc 450SLC         15.2 180 3
Hornet Sportabout   18.7 175 3
Pontiac Firebird    19.2 175 3
Dodge Challenger    15.5 150 3
AMC Javelin         15.2 150 3
Hornet 4 Drive      21.4 110 3
Valiant             18.1 105 3
Toyota Corona       21.5  97 3
Merc 280            19.2 123 4
Merc 280C           17.8 123 4
Mazda RX4           21.0 110 4
Mazda RX4 Wag       21.0 110 4
Volvo 142E          21.4 109 4
Merc 230            22.8  95 4
Datsun 710          22.8  93 4
Fiat 128            32.4  66 4
Fiat X1-9           27.3  66 4
Toyota Corolla      33.9  65 4
Merc 240D           24.4  62 4
Honda Civic         30.4  52 4
Maserati Bora       15.0 335 5
Ford Pantera L      15.8 264 5
Ferrari Dino        19.7 175 5
Lotus Europa        30.4 113 5
Porsche 914-2       26.0  91 5

In [ ]:
mtcars %>% select(mpg, hp, gear) %>%
                arrange(desc(gear), desc(hp)) %>% filter(mpg>=30)

               mpg  hp  gear
Lotus Europa   30.4 113 5
Fiat 128       32.4  66 4
Toyota Corolla 33.9  65 4
Honda Civic    30.4  52 4

##Mutate function

In [ ]:
mtcars %>%
    mutate(Transmission=ifelse(am==0, "Automatic","Manual")) %>% 
        head(10)

                  mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
Duster 360        14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
Merc 240D         24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
Merc 230          22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
Merc 280          19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
                  Transmission
Mazda RX4         Manual
Mazda RX4 Wag     Manual
Datsun 710        Manual
Hornet 4 Drive    Automatic
Hornet Sportabout Automatic
Valiant           Automatic
Duster 360        Automatic
Merc 240D         Automatic
Merc 230          Automatic
Merc 280          Automatic

##Summarise function

In [ ]:
mtcars %>% summarise(mean(mpg))

  mean(mpg)
1 20.09062

In [ ]:
mtcars %>% summarise(avg_mpg= mean(mpg))

  avg_mpg
1 20.09062

In [ ]:
mtcars %>% summarise(avg_mpg = mean(mpg),
                    min_mpg = min(mpg),
                    max_mpg = max(mpg),
                    )

  avg_mpg  min_mpg max_mpg
1 20.09062 10.4    33.9

##Groupby function

In [ ]:
mtcars %>% group_by(am) %>%
            summarise(avg_mpg = mean(mpg),
                    min_mpg = min(mpg),
                    max_mpg = max(mpg))

  am avg_mpg  min_mpg max_mpg
1 0  17.14737 10.4    24.4
2 1  24.39231 15.0    33.9

In [ ]:
mtcars %>% group_by(vs) %>%
            summarise(avg_mpg = mean(mpg),
                    min_mpg = min(mpg),
                    max_mpg = max(mpg))

  vs avg_mpg  min_mpg max_mpg
1 0  16.61667 10.4    26.0
2 1  24.55714 17.8    33.9

In [ ]:
?starwars

In [ ]:
head(starwars)

  name           height mass hair_color  skin_color  eye_color birth_year
1 Luke Skywalker 172     77  blond       fair        blue       19.0
2 C-3PO          167     75  NA          gold        yellow    112.0
3 R2-D2           96     32  NA          white, blue red        33.0
4 Darth Vader    202    136  none        white       yellow     41.9
5 Leia Organa    150     49  brown       light       brown      19.0
6 Owen Lars      178    120  brown, grey light       blue       52.0
  sex    gender    homeworld species
1 male   masculine Tatooine  Human
2 none   masculine Tatooine  Droid
3 none   masculine Naboo     Droid
4 male   masculine Tatooine  Human
5 female feminine  Alderaan  Human
6 male   masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

In [ ]:
select(starwars,gender,species) %>% head

  gender    species
1 masculine Human
2 masculine Droid
3 masculine Droid
4 masculine Human
5 feminine  Human
6 masculine Human

In [ ]:
filter(starwars, height>=100) %>% head

  name               height mass hair_color  skin_color eye_color birth_year
1 Luke Skywalker     172     77  blond       fair       blue       19.0
2 C-3PO              167     75  NA          gold       yellow    112.0
3 Darth Vader        202    136  none        white      yellow     41.9
4 Leia Organa        150     49  brown       light      brown      19.0
5 Owen Lars          178    120  brown, grey light      blue       52.0
6 Beru Whitesun lars 165     75  brown       light      blue       47.0
  sex    gender    homeworld species
1 male   masculine Tatooine  Human
2 none   masculine Tatooine  Droid
3 male   masculine Tatooine  Human
4 female feminine  Alderaan  Human
5 male   masculine Tatooine  Human
6 female feminine  Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
5 Attack of the Clones, Revenge of the Sith , A New Hope
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4 Imperial Speeder Bike
5
6
  starships
1 X-wing          , Imperial shuttle
2
3 TIE Advanced x1
4
5
6

In [ ]:
starwars %>% arrange(skin_color) %>% head(3)

  name        height mass hair_color skin_color eye_color birth_year sex
1 Ayla Secura 178    55   none       blue       hazel     48         female
2 Mas Amedda  196    NA   none       blue       blue      NA         male
3 Watto       137    NA   black      blue, grey yellow    NA         male
  gender    homeworld species
1 feminine  Ryloth    Twi'lek
2 masculine Champala  Chagrian
3 masculine Toydaria  Toydarian
  films                                                            vehicles
1 Attack of the Clones, The Phantom Menace  , Revenge of the Sith
2 Attack of the Clones, The Phantom Menace
3 Attack of the Clones, The Phantom Menace
  starships
1
2
3

In [ ]:
starwars %>%
    mutate(height_type=ifelse(height>170, "Tall","Short")) %>% 
        select(name,height,height_type) %>% head(5)

  name           height height_type
1 Luke Skywalker 172    Tall
2 C-3PO          167    Short
3 R2-D2           96    Short
4 Darth Vader    202    Tall
5 Leia Organa    150    Short

In [ ]:
starwars %>% group_by(gender) %>% summarise(avg_height = mean(height,na.rm=TRUE),
                    min_height = min(height,na.rm=TRUE),
                    max_height = max(height,na.rm=TRUE),
) %>% filter(gender %in% c("feminine","masculine"))

  gender    avg_height min_height max_height
1 feminine  164.6875   96         213
2 masculine 176.5161   66         264